# -----------------------------
# General OS / IDE
# -----------------------------
# MacOS
.DS_Store
# Windows
Thumbs.db

# VSCode
.vscode/

# JetBrains IDE
.idea/

# -----------------------------
# Python
# -----------------------------
# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
*.cover
.coverage
htmlcov/
*.py,cover
nosetests.xml
coverage.xml
*.log
.pytest_cache/

# -----------------------------
# Other
# -----------------------------
# Node artifacts (if ever used)
node_modules/
# Database
src/sensor_data.db
